body {
    background-color: #333;
    color: white;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.panel {
    background-color: #555;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
}

.profile-title-panel-container {

}

.profile-stats-panel-container {
    display: flex;
}

.panel-something {
    flex-grow: 2;
}

.panel-something-else {
}

ul {
    padding-left: 20px;
    list-style: none;
}

.btn-primary {
    color: #fff;
    background-color: #f99e1a;
    border-color: #f99e1a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e08e17;
    border-color: #c77e14;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #f99e1a;
    border-color: #f99e1a;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e08e17;
    border-color: #c77e14;
}